@page "/message-requests/edit/{id:long}"

@using Data.Entities
@using AdminPanel.Components.DTO
@using AdminPanel.Services
@using Microsoft.AspNetCore.Components.Forms
@using AdminPanel.Components.Pages.MessageRequests
@inject IDataService<MessageRequest> MessageRequestService
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Edit Message Request</PageTitle>

<h1>Edit Message Request</h1>

@if (messageRequest == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MessageRequestForm Model="@messageRequest" 
                        Mode="FormMode.Edit" 
                        OnValidSubmit="@HandleValidSubmit" 
                        OnCancel="@Cancel" />
}

@code {
    [Parameter]
    public long Id { get; set; }

    private MessageRequest? messageRequest;

    protected override async Task OnInitializedAsync()
    {
        messageRequest = await MessageRequestService.GetByIdAsync(Id);
    }

    private async Task HandleValidSubmit()
    {
        if (messageRequest != null)
        {
            await MessageRequestService.UpdateAsync(messageRequest);
            Navigation.NavigateTo("/message-requests");
        }
    }

    private void Cancel()
    {
        Navigation.NavigateTo("/message-requests");
    }
}
