@page "/credentials/create"

@using Data.Entities
@using AdminPanel.Components.DTO
@using AdminPanel.Services
@using Abstractions.Models.Enums
@using System.Text.Json
@using Microsoft.AspNetCore.Components.Forms
@using AdminPanel.Components.Pages.Credentials
@inject IDataService<Credential> CredentialService
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Create Credential</PageTitle>

<h1>Create Credential</h1>

<CredentialForm Model="@credential" 
                Mode="FormMode.Create" 
                OnValidSubmit="@HandleValidSubmit" 
                OnCancel="@Cancel" />

@code {
    private Credential credential = new() 
    { 
        IsActive = true,
        Channel = "",
        AdapterType = AdapterType.GreenAPI,
        Config = JsonDocument.Parse("{}")
    };

    private async Task HandleValidSubmit()
    {
        credential.CreatedAt = DateTime.UtcNow;
        await CredentialService.CreateAsync(credential);
        Navigation.NavigateTo("/credentials");
    }

    private void Cancel()
    {
        Navigation.NavigateTo("/credentials");
    }
}
